{{ define "main" }}
    {{ partial "header" . }}

    <div class="content">
        <h1>{{ .Title }}</h1>

        <div>
            {{ partial "content" . }}
        </div>

        {{- range .Data.Pages.GroupByDate "2006" }}
		<div class="posts-group">
			<div class="post-year" id="{{ .Key }}">{{ .Key }}</div>
			<ul class="posts-list">
				{{- range .Pages }}
				<li class="post-item">
					<a href="{{.Permalink}}">
						<span class="post-title">{{.Title}}</span>
						<span class="post-day">{{ .Date.Format "Jan 02" }}</span>
					</a>
				</li>
				{{- end }}
			</ul>
		</div>
		{{- end }}
    </div>

    {{ partial "footer" . }}
{{ end }}
